Library/
Temp/
.idea/
JetBrains
JetBrains.*
obj/
Recordings/
*.user
Example2-Survival/webgl/
Example2-Survival/Build/
Example2-Survival/Packages/packages-lock.json
Example1-DoofusesMustEat/Iteration2-Burst/Build/
Example1-DoofusesMustEat/Iteration3-Jobs/Build/
Example1-DoofusesMustEat/Iteration3-Jobs/UserSettings/
Example1-DoofusesMustEat/Iteration3-Jobs/IL2CPP/

Example1-DoofusesMustEat/Iteration3-Jobs/Logs/
Example2-Survival/Assets/StreamingAssets/
